*.opendb
tiger/tiger.VC.db
*.pdb
tiger/Debug/vc140.idb
*.obj
tiger/.vs/tiger/v14/.suo
*.log
tiger/Debug/tiger.tlog/CL.command.1.tlog
*.tlog
*.exe
tiger/tiger.vcxproj.user
tiger/bin/vs-2015/x86/Debug Static/antlr4-runtime.lib
tiger/Debug/tiger.ilk
*.idb